.login{
  width: 300px;
  margin: 100px auto;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 30px 20px;
  input{
    margin: 10px 0;
  }
  button{
    width: 100%;
    margin: 20px 0 0 0;
  }

}